@import '../../utilities/variables';

.btn,
.btn:active,
.btn:visited {
  border: none;
  outline: none;
}

.btn {
  padding: 1rem 2rem;
  background-color: $purpleColor;
  color: #fff;
  position: relative;
  z-index: 1000;

  &:hover {
    background-color: $purpleDarkenColor;
  }
}
